* {
  font-family: 굴림;
}

body {
  line-height: 1.4285em;
}

.loader-wrap {
  z-index: 1060;
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.loader-inner {
  z-index: 1060;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader-desc {
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.48);
  border-radius: 3px;
  position: absolute;
  font-size: 13px;
}

.loader-wrap>div>div>span {
  -webkit-animation-name: dot;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: dot;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
}

.loader-wrap>div>div>span:nth-child(2) {
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
}

.loader-wrap>div>div>span:nth-child(3) {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
}

@-webkit-keyframes dot {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes dot {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#model-loader-wrap>.loader-inner {
  margin-top: -100px;
}

#model-loader-wrap>.loader-inner>.loader-desc {
  width: 180px;
  margin-top: 120px;
}

#falling-wrap {
  height: 130px;
  width: 170px;
}

.falling-cube {
  width: 100%;
  height: 140px;
  display: block;
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 2;
  overflow: hidden;
}

.falling-cube::before,
.falling-cube::after {
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.falling-cube:nth-child(1)::before {
  font-family: fontAwesome;
  color: #DA4453;
  content: "\f1b2";
  -webkit-animation: falling-a 1.1s linear infinite;
  animation: falling-a 1.1s linear infinite;
}

.falling-cube:nth-child(1)::after {
  font-family: fontAwesome;
  color: #F6BB42;
  content: "\f1b2";
  -webkit-animation: falling-b 1.3s linear infinite;
  animation: falling-b 1.3s linear infinite;
}

.falling-cube:nth-child(2)::before {
  font-family: fontAwesome;
  color: #37BC9B;
  content: "\f1b2";
  -webkit-animation: falling-c 0.9s linear infinite;
  animation: falling-c 0.9s linear infinite;
}

.falling-cube:nth-child(2)::after {
  font-family: fontAwesome;
  color: #4A89DC;
  content: "\f1b2";
  -webkit-animation: falling-d 0.7s linear infinite;
  animation: falling-d 0.7s linear infinite;
}

.falling-cube:nth-child(3)::before {
  font-family: fontAwesome;
  color: #D770AD;
  content: "\f1b2";
  -webkit-animation: falling-e 1.7s linear infinite;
  animation: falling-e 1.7s linear infinite;
}

.falling-cube:nth-child(3)::after {
  font-family: fontAwesome;
  color: #E9573F;
  content: "\f1b2";
  -webkit-animation: falling-f 1.5s linear infinite;
  animation: falling-f 1.5s linear infinite;
}


@-webkit-keyframes falling-a {
  0% {
    -webkit-transform: translate(30px, 0) rotate(30deg);
    transform: translate(30px, 0) rotate(30deg);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(30px, 150px) rotate(-50deg);
    transform: translate(30px, 150px) rotate(-50deg);
    opacity: 1;
  }
}

@keyframes falling-a {
  0% {
    -webkit-transform: translate(30px, 0) rotate(30deg);
    transform: translate(30px, 0) rotate(30deg);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(30px, 150px) rotate(-50deg);
    transform: translate(30px, 150px) rotate(-50deg);
    opacity: 1;
  }
}

@-webkit-keyframes falling-b {
  0% {
    -webkit-transform: translate(50px, 0) rotate(-40deg);
    transform: translate(50px, 0) rotate(-40deg);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(40px, 150px) rotate(80deg);
    transform: translate(40px, 150px) rotate(80deg);
    opacity: 1;
  }
}

@keyframes falling-b {
  0% {
    -webkit-transform: translate(50px, 0) rotate(-40deg);
    transform: translate(50px, 0) rotate(-40deg);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(40px, 150px) rotate(80deg);
    transform: translate(40px, 150px) rotate(80deg);
    opacity: 1;
  }
}

@-webkit-keyframes falling-c {
  0% {
    -webkit-transform: translate(70px, 0) rotate(10deg);
    transform: translate(70px, 0) rotate(10deg);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(60px, 150px) rotate(70deg);
    transform: translate(60px, 150px) rotate(70deg);
    opacity: 1;
  }
}

@keyframes falling-c {
  0% {
    -webkit-transform: translate(70px, 0) rotate(10deg);
    transform: translate(70px, 0) rotate(10deg);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(60px, 150px) rotate(70deg);
    transform: translate(60px, 150px) rotate(70deg);
    opacity: 1;
  }
}

@-webkit-keyframes falling-d {
  0% {
    -webkit-transform: translate(30px, 0) rotate(-50deg);
    transform: translate(30px, 0) rotate(-50deg);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(45px, 150px) rotate(30deg);
    transform: translate(45px, 150px) rotate(30deg);
    opacity: 1;
  }
}

@keyframes falling-d {
  0% {
    -webkit-transform: translate(30px, 0) rotate(-50deg);
    transform: translate(30px, 0) rotate(-50deg);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(45px, 150px) rotate(30deg);
    transform: translate(45px, 150px) rotate(30deg);
    opacity: 1;
  }
}

@-webkit-keyframes falling-e {
  0% {
    -webkit-transform: translate(60px, 0) rotate(-20deg);
    transform: translate(60px, 0) rotate(-20deg);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(75px, 150px) rotate(40deg);
    transform: translate(75px, 150px) rotate(40deg);
    opacity: 1;
  }
}

@keyframes falling-e {
  0% {
    -webkit-transform: translate(60px, 0) rotate(-20deg);
    transform: translate(60px, 0) rotate(-20deg);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(75px, 150px) rotate(40deg);
    transform: translate(75px, 150px) rotate(40deg);
    opacity: 1;
  }
}

@-webkit-keyframes falling-f {
  0% {
    -webkit-transform: translate(30px, 0) rotate(-40deg);
    transform: translate(30px, 0) rotate(-40deg);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(65px, 150px) rotate(90deg);
    transform: translate(65px, 150px) rotate(90deg);
    opacity: 1;
  }
}

@keyframes falling-f {
  0% {
    -webkit-transform: translate(30px, 0) rotate(-40deg);
    transform: translate(30px, 0) rotate(-40deg);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(65px, 150px) rotate(90deg);
    transform: translate(65px, 150px) rotate(90deg);
    opacity: 1;
  }
}

#receive-wrap {
  position: relative;
  left: 45px;
}

.cube {
  position: absolute;
  width: 3px;
  height: 3px;
}

.right {
  background: #CCD1D9;
  transform: rotate(-30deg) skewX(-30deg) translate(49px, 65px) scaleY(0.86);
}

.left {
  background: #E6E9ED;
  transform: rotate(90deg) skewX(-30deg) scaleY(0.86) translate(25px, -50px);
}

.top {
  background: #40444A;
  transform: rotate(210deg) skew(-30deg) translate(-75px, -22px) scaleY(0.86);
  z-index: 2;
}

.face {
  height: 50px;
  width: 50px;
  position: absolute;
  transform-origin: 0 0;
}

.h1.w1.l1 {
  z-index: -1;
  animation-name: h1w1l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h1w1l1 {
  0% {
    transform: translate(0%, -100%);
  }

  14% {
    transform: translate(-50%, -125%);
  }

  28% {
    transform: translate(0%, -150%);
  }

  43% {
    transform: translate(0%, -200%);
  }

  57% {
    transform: translate(50%, -175%);
  }

  71% {
    transform: translate(0%, -150%);
  }

  85% {
    transform: translate(0%, -100%);
  }

  100% {
    transform: translate(0%, -100%);
  }
}

.h1.w1.l2 {
  z-index: -1;
  animation-name: h1w1l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h1w1l2 {
  0% {
    transform: translate(50%, -75%);
  }

  14% {
    transform: translate(50%, -75%);
  }

  28% {
    transform: translate(100%, -100%);
  }

  43% {
    transform: translate(100%, -150%);
  }

  57% {
    transform: translate(100%, -150%);
  }

  71% {
    transform: translate(50%, -125%);
  }

  85% {
    transform: translate(50%, -75%);
  }

  100% {
    transform: translate(50%, -75%);
  }
}

.h1.w1.l3 {
  z-index: -1;
  animation-name: h1w1l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h1w1l3 {
  0% {
    transform: translate(100%, -50%);
  }

  14% {
    transform: translate(150%, -25%);
  }

  28% {
    transform: translate(200%, -50%);
  }

  43% {
    transform: translate(200%, -100%);
  }

  57% {
    transform: translate(150%, -125%);
  }

  71% {
    transform: translate(100%, -100%);
  }

  85% {
    transform: translate(100%, -50%);
  }

  100% {
    transform: translate(100%, -50%);
  }
}

.h1.w2.l1 {
  z-index: -1;
  animation-name: h1w2l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h1w2l1 {
  0% {
    transform: translate(-50%, -75%);
  }

  14% {
    transform: translate(-100%, -100%);
  }

  28% {
    transform: translate(-100%, -100%);
  }

  43% {
    transform: translate(-100%, -150%);
  }

  57% {
    transform: translate(-50%, -125%);
  }

  71% {
    transform: translate(-50%, -125%);
  }

  85% {
    transform: translate(-50%, -75%);
  }

  100% {
    transform: translate(-50%, -75%);
  }
}

.h1.w2.l2 {
  z-index: -1;
  animation-name: h1w2l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h1w2l2 {
  0% {
    transform: translate(0%, -50%);
  }

  14% {
    transform: translate(0%, -50%);
  }

  28% {
    transform: translate(0%, -50%);
  }

  43% {
    transform: translate(0%, -100%);
  }

  57% {
    transform: translate(0%, -100%);
  }

  71% {
    transform: translate(0%, -100%);
  }

  85% {
    transform: translate(0%, -50%);
  }

  100% {
    transform: translate(0%, -50%);
  }
}

.h1.w2.l3 {
  z-index: -1;
  animation-name: h1w2l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h1w2l3 {
  0% {
    transform: translate(50%, -25%);
  }

  14% {
    transform: translate(100%, 0%);
  }

  28% {
    transform: translate(100%, 0%);
  }

  43% {
    transform: translate(100%, -50%);
  }

  57% {
    transform: translate(50%, -75%);
  }

  71% {
    transform: translate(50%, -75%);
  }

  85% {
    transform: translate(50%, -25%);
  }

  100% {
    transform: translate(50%, -25%);
  }
}

.h1.w3.l1 {
  z-index: -1;
  animation-name: h1w3l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h1w3l1 {
  0% {
    transform: translate(-100%, -50%);
  }

  14% {
    transform: translate(-150%, -75%);
  }

  28% {
    transform: translate(-200%, -50%);
  }

  43% {
    transform: translate(-200%, -100%);
  }

  57% {
    transform: translate(-150%, -75%);
  }

  71% {
    transform: translate(-100%, -100%);
  }

  85% {
    transform: translate(-100%, -50%);
  }

  100% {
    transform: translate(-100%, -50%);
  }
}

.h1.w3.l2 {
  z-index: -1;
  animation-name: h1w3l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h1w3l2 {
  0% {
    transform: translate(-50%, -25%);
  }

  14% {
    transform: translate(-50%, -25%);
  }

  28% {
    transform: translate(-100%, 0%);
  }

  43% {
    transform: translate(-100%, -50%);
  }

  57% {
    transform: translate(-100%, -50%);
  }

  71% {
    transform: translate(-50%, -75%);
  }

  85% {
    transform: translate(-50%, -25%);
  }

  100% {
    transform: translate(-50%, -25%);
  }
}

.h1.w3.l3 {
  z-index: -1;
  animation-name: h1w3l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h1w3l3 {
  0% {
    transform: translate(0%, 0%);
  }

  14% {
    transform: translate(50%, 25%);
  }

  28% {
    transform: translate(0%, 50%);
  }

  43% {
    transform: translate(0%, 0%);
  }

  57% {
    transform: translate(-50%, -25%);
  }

  71% {
    transform: translate(0%, -50%);
  }

  85% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

.h2.w1.l1 {
  z-index: -2;
  animation-name: h2w1l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h2w1l1 {
  0% {
    transform: translate(0%, -50%);
  }

  14% {
    transform: translate(-50%, -75%);
  }

  28% {
    transform: translate(0%, -100%);
  }

  43% {
    transform: translate(0%, -100%);
  }

  57% {
    transform: translate(50%, -75%);
  }

  71% {
    transform: translate(0%, -50%);
  }

  85% {
    transform: translate(0%, -50%);
  }

  100% {
    transform: translate(0%, -50%);
  }
}

.h2.w1.l2 {
  z-index: -2;
  animation-name: h2w1l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h2w1l2 {
  0% {
    transform: translate(50%, -25%);
  }

  14% {
    transform: translate(50%, -25%);
  }

  28% {
    transform: translate(100%, -50%);
  }

  43% {
    transform: translate(100%, -50%);
  }

  57% {
    transform: translate(100%, -50%);
  }

  71% {
    transform: translate(50%, -25%);
  }

  85% {
    transform: translate(50%, -25%);
  }

  100% {
    transform: translate(50%, -25%);
  }
}

.h2.w1.l3 {
  z-index: -2;
  animation-name: h2w1l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h2w1l3 {
  0% {
    transform: translate(100%, 0%);
  }

  14% {
    transform: translate(150%, 25%);
  }

  28% {
    transform: translate(200%, 0%);
  }

  43% {
    transform: translate(200%, 0%);
  }

  57% {
    transform: translate(150%, -25%);
  }

  71% {
    transform: translate(100%, 0%);
  }

  85% {
    transform: translate(100%, 0%);
  }

  100% {
    transform: translate(100%, 0%);
  }
}

.h2.w2.l1 {
  z-index: -2;
  animation-name: h2w2l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h2w2l1 {
  0% {
    transform: translate(-50%, -25%);
  }

  14% {
    transform: translate(-100%, -50%);
  }

  28% {
    transform: translate(-100%, -50%);
  }

  43% {
    transform: translate(-100%, -50%);
  }

  57% {
    transform: translate(-50%, -25%);
  }

  71% {
    transform: translate(-50%, -25%);
  }

  85% {
    transform: translate(-50%, -25%);
  }

  100% {
    transform: translate(-50%, -25%);
  }
}

.h2.w2.l2 {
  z-index: -2;
  animation-name: h2w2l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h2w2l2 {
  0% {
    transform: translate(0%, 0%);
  }

  14% {
    transform: translate(0%, 0%);
  }

  28% {
    transform: translate(0%, 0%);
  }

  43% {
    transform: translate(0%, 0%);
  }

  57% {
    transform: translate(0%, 0%);
  }

  71% {
    transform: translate(0%, 0%);
  }

  85% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

.h2.w2.l3 {
  z-index: -2;
  animation-name: h2w2l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h2w2l3 {
  0% {
    transform: translate(50%, 25%);
  }

  14% {
    transform: translate(100%, 50%);
  }

  28% {
    transform: translate(100%, 50%);
  }

  43% {
    transform: translate(100%, 50%);
  }

  57% {
    transform: translate(50%, 25%);
  }

  71% {
    transform: translate(50%, 25%);
  }

  85% {
    transform: translate(50%, 25%);
  }

  100% {
    transform: translate(50%, 25%);
  }
}

.h2.w3.l1 {
  z-index: -2;
  animation-name: h2w3l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h2w3l1 {
  0% {
    transform: translate(-100%, 0%);
  }

  14% {
    transform: translate(-150%, -25%);
  }

  28% {
    transform: translate(-200%, 0%);
  }

  43% {
    transform: translate(-200%, 0%);
  }

  57% {
    transform: translate(-150%, 25%);
  }

  71% {
    transform: translate(-100%, 0%);
  }

  85% {
    transform: translate(-100%, 0%);
  }

  100% {
    transform: translate(-100%, 0%);
  }
}

.h2.w3.l2 {
  z-index: -2;
  animation-name: h2w3l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h2w3l2 {
  0% {
    transform: translate(-50%, 25%);
  }

  14% {
    transform: translate(-50%, 25%);
  }

  28% {
    transform: translate(-100%, 50%);
  }

  43% {
    transform: translate(-100%, 50%);
  }

  57% {
    transform: translate(-100%, 50%);
  }

  71% {
    transform: translate(-50%, 25%);
  }

  85% {
    transform: translate(-50%, 25%);
  }

  100% {
    transform: translate(-50%, 25%);
  }
}

.h2.w3.l3 {
  z-index: -2;
  animation-name: h2w3l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h2w3l3 {
  0% {
    transform: translate(0%, 50%);
  }

  14% {
    transform: translate(50%, 75%);
  }

  28% {
    transform: translate(0%, 100%);
  }

  43% {
    transform: translate(0%, 100%);
  }

  57% {
    transform: translate(-50%, 75%);
  }

  71% {
    transform: translate(0%, 50%);
  }

  85% {
    transform: translate(0%, 50%);
  }

  100% {
    transform: translate(0%, 50%);
  }
}

.h3.w1.l1 {
  z-index: -3;
  animation-name: h3w1l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h3w1l1 {
  0% {
    transform: translate(0%, 0%);
  }

  14% {
    transform: translate(-50%, -25%);
  }

  28% {
    transform: translate(0%, -50%);
  }

  43% {
    transform: translate(0%, 0%);
  }

  57% {
    transform: translate(50%, 25%);
  }

  71% {
    transform: translate(0%, 50%);
  }

  85% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

.h3.w1.l2 {
  z-index: -3;
  animation-name: h3w1l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h3w1l2 {
  0% {
    transform: translate(50%, 25%);
  }

  14% {
    transform: translate(50%, 25%);
  }

  28% {
    transform: translate(100%, 0%);
  }

  43% {
    transform: translate(100%, 50%);
  }

  57% {
    transform: translate(100%, 50%);
  }

  71% {
    transform: translate(50%, 75%);
  }

  85% {
    transform: translate(50%, 25%);
  }

  100% {
    transform: translate(50%, 25%);
  }
}

.h3.w1.l3 {
  z-index: -3;
  animation-name: h3w1l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h3w1l3 {
  0% {
    transform: translate(100%, 50%);
  }

  14% {
    transform: translate(150%, 75%);
  }

  28% {
    transform: translate(200%, 50%);
  }

  43% {
    transform: translate(200%, 100%);
  }

  57% {
    transform: translate(150%, 75%);
  }

  71% {
    transform: translate(100%, 100%);
  }

  85% {
    transform: translate(100%, 50%);
  }

  100% {
    transform: translate(100%, 50%);
  }
}

.h3.w2.l1 {
  z-index: -3;
  animation-name: h3w2l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h3w2l1 {
  0% {
    transform: translate(-50%, 25%);
  }

  14% {
    transform: translate(-100%, 0%);
  }

  28% {
    transform: translate(-100%, 0%);
  }

  43% {
    transform: translate(-100%, 50%);
  }

  57% {
    transform: translate(-50%, 75%);
  }

  71% {
    transform: translate(-50%, 75%);
  }

  85% {
    transform: translate(-50%, 25%);
  }

  100% {
    transform: translate(-50%, 25%);
  }
}

.h3.w2.l2 {
  z-index: -3;
  animation-name: h3w2l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h3w2l2 {
  0% {
    transform: translate(0%, 50%);
  }

  14% {
    transform: translate(0%, 50%);
  }

  28% {
    transform: translate(0%, 50%);
  }

  43% {
    transform: translate(0%, 100%);
  }

  57% {
    transform: translate(0%, 100%);
  }

  71% {
    transform: translate(0%, 100%);
  }

  85% {
    transform: translate(0%, 50%);
  }

  100% {
    transform: translate(0%, 50%);
  }
}

.h3.w2.l3 {
  z-index: -3;
  animation-name: h3w2l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h3w2l3 {
  0% {
    transform: translate(50%, 75%);
  }

  14% {
    transform: translate(100%, 100%);
  }

  28% {
    transform: translate(100%, 100%);
  }

  43% {
    transform: translate(100%, 150%);
  }

  57% {
    transform: translate(50%, 125%);
  }

  71% {
    transform: translate(50%, 125%);
  }

  85% {
    transform: translate(50%, 75%);
  }

  100% {
    transform: translate(50%, 75%);
  }
}

.h3.w3.l1 {
  z-index: -3;
  animation-name: h3w3l1;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h3w3l1 {
  0% {
    transform: translate(-100%, 50%);
  }

  14% {
    transform: translate(-150%, 25%);
  }

  28% {
    transform: translate(-200%, 50%);
  }

  43% {
    transform: translate(-200%, 100%);
  }

  57% {
    transform: translate(-150%, 125%);
  }

  71% {
    transform: translate(-100%, 100%);
  }

  85% {
    transform: translate(-100%, 50%);
  }

  100% {
    transform: translate(-100%, 50%);
  }
}

.h3.w3.l2 {
  z-index: -3;
  animation-name: h3w3l2;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h3w3l2 {
  0% {
    transform: translate(-50%, 75%);
  }

  14% {
    transform: translate(-50%, 75%);
  }

  28% {
    transform: translate(-100%, 100%);
  }

  43% {
    transform: translate(-100%, 150%);
  }

  57% {
    transform: translate(-100%, 150%);
  }

  71% {
    transform: translate(-50%, 125%);
  }

  85% {
    transform: translate(-50%, 75%);
  }

  100% {
    transform: translate(-50%, 75%);
  }
}

.h3.w3.l3 {
  z-index: -3;
  animation-name: h3w3l3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes h3w3l3 {
  0% {
    transform: translate(0%, 100%);
  }

  14% {
    transform: translate(50%, 125%);
  }

  28% {
    transform: translate(0%, 150%);
  }

  43% {
    transform: translate(0%, 200%);
  }

  57% {
    transform: translate(-50%, 175%);
  }

  71% {
    transform: translate(0%, 150%);
  }

  85% {
    transform: translate(0%, 100%);
  }

  100% {
    transform: translate(0%, 100%);
  }
}
